#!/usr/bin/make -f

#export DH_VERBOSE := 1
export DH_GOPKG := github.com/caddyserver/caddy/v2
export DH_GOLANG_INSTALL_EXTRA := caddytest
export DH_GOLANG_EXCLUDES := integration
export CGO_ENABLED := 0

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_install:
	dh_install
	mv debian/caddy/usr/share/bash-completion/completions/bash-completion \
	    debian/caddy/usr/share/bash-completion/completions/caddy
