#!/usr/bin/make -f

#export DH_VERBOSE := 1
export DH_GOLANG_INSTALL_EXTRA := caddytest/integration/caddyfile_adapt caddy.localhost.crt caddytest/caddy.ca.cer

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source
